

.search-bar{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    position: relative;
    


}
.nav_container{
 position: relative; 
   
}

.login{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
    
}
.loginicon{
    display: flex;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    
}
.cart{
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}

.cart-icon{
    display: flex;
    display: inline-block;
}

.dropdown{
    display: none;
}

.options{
    margin-inline-end: auto;
}

.options_name{
   margin: 10px;
   font-size: 16px;
}

.options_name:hover{
    color: black;
    font-weight: 500;
    
    cursor: pointer;
    
}


.darkmode{
   margin-right: 10px;

}

    
@media only screen and (max-width: 576px){
    .options_name{
        display: none;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        
    }
    .nav_container{
        position: relative;  
        margin-bottom: 50px; 
       }

    .search-bar{
        position: absolute;
        top:50px;
        left: 10px;
        display: flex;
        display: block;
        flex-wrap: wrap;
        flex: 100%;
        width: fit-content;
        
        
        
       
    }
}